/* RESET */
/*html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	font-family: inherit;
	vertical-align: baseline;
}*/
/* remember to define focus styles! */
:focus {
	outline: 0;
}
body {
	line-height: 1;
	color: black;
	background: white;
}
ol, ul {
	list-style: none;
}
/* tables still need 'cellspacing="0"' in the markup */
table {
	border-collapse: separate;
	border-spacing: 0;
}
caption, th, td {
	text-align: left;
	font-weight: normal;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: "";
}
blockquote, q {
	quotes: "" "";
}

/* LAYOUT */

body {
	background-color:#f3f3f3;
}

/* Kurt Anderson */
#head
{
	background-color: #dddddd;
	height: 36px;
}
#headlist
{
	padding-top: 5px;
	text-align: left;
}
.headitem
{
	margin: 0 2px 0 2px;
	display: inline;
}
#home
{
	font-size: 2em;
	color: #0000f0;
}
#headerbottom
{
	height: 8px;
	background-color: #0000f0;
}
/* Kurt Anderson */

#faded { 
	margin:0 auto;
	width:899px;
	height:341px;
	margin-top:50px;
	background-image:url(images/bg.png);
}

.rap {
	width:827px;
	height:275px;
	margin:0 auto;
	top:16px;
	position:relative;
}

.ribbon {
	background-image:url(images/ribbon.png);
	width:162px;
	height:162px;
	position:absolute;
	right:0;
}

ul.pagination { 
	list-style:none; 
	width:80px;
	padding:0; margin:0;
	margin:0 auto;
	margin-top:28px;
	text-align: center;
}

ul.pagination li { 
	float:left;
	width:16px;
	margin-right:4px;
	text-indent: -9999px;
}

ul.pagination li a { 	
	display: block;
	background-image:url(images/blue.jpg);
	line-height:16px;
	width:16px;
	background-position: 0 0;
}

ul.pagination li.current a { 
	background-image:url(images/blue.jpg);
	line-height:16px;
	width:16px;
	background-position: 0 -16px;
	
}

ul.pagination li a:hover { 
	background-image:url(images/blue.jpg);
	line-height:16px;
	background-position: 0 -16px;
}